<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.teacher.CourseKpointMapper">

  <resultMap id="CourseKpointResultMap" type="com.api.model.teaching.kpoint.CourseKpoint">
    <result column="kpoint_id" property="kpointId" />
    <result column="course_id" property="courseId" />
    <result column="name" property="name" />
    <result column="parent_id" property="parentId" />
    <result column="add_time" property="addTime" />
      <result column="sort" property="sort" ></result>
      <result column="video_url" property="videoUrl" />
      <result column="teacher_id" property="teacherId" />
      <result column="kpoint_types" property="kpointTypes" />
      <result column="video_type" property="videoType" />
      <result column="file_type" property="fileType" />
      <result column="content" property="content" />
  </resultMap>
    <select id="selectCourseKpointChildList" parameterType="java.lang.Integer" resultMap="CourseKpointResultMap">
        SELECT
        <include refid="CourseKpoint_Column_List" />
        FROM course_kpoint WHERE parent_id=#{parentId}
    </select>
  <parameterMap id="CourseKpoint" type="com.api.model.teaching.kpoint.CourseKpoint" />

  <sql id="CourseKpoint_Column_List">kpoint_id, course_id, name,parent_id,add_time,sort,video_url,teacher_id,kpoint_types,video_type,file_type,content</sql>

  <insert id="addCourseKpoint" parameterMap="CourseKpoint">
      /*  获取插入后的主键id*/
      <selectKey resultType="int" keyProperty="kpointId" order="AFTER" >
          SELECT LAST_INSERT_ID() AS kpointId
      </selectKey>
    insert into course_kpoint
        (course_id, name,parent_id,add_time,sort,video_url,teacher_id,kpoint_types,video_type,file_type,content)
    values
        (#{courseId}, #{name},#{parentId},#{addTime},#{sort},#{videoUrl},#{teacherId},#{kpointTypes},#{videoType},#{fileType},#{content})
  </insert>

  <!--<select id="courseKpointList" resultMap="CourseKpointResultMap">
    SELECT
    <include refid="CourseKpoint_Column_List" />
    FROM course_kpoint WHERE 1=1
      <if test="courseId != null and courseId!=''">
          and course_id=#{courseId}
      </if>
      <if test="courseName != null and courseName!=''">
          AND course_name LIKE '%${courseName}%'
      </if>
      <if test="subjectId != null and subjectId!=''">
          and subject_id=#{subjectId}
      </if>
      <if test="addTime != null and addTime!=''">
          and add_ime <![CDATA[ >= ]]> #{addTime}
      </if>
  </select>-->

    <select id="findCourseKpoint" parameterType="java.lang.Integer" resultMap="CourseKpointResultMap">
      SELECT
      <include refid="CourseKpoint_Column_List" />
      FROM COURSE_KPOINT WHERE parent_id=#{cataloId}
    </select>

    <delete id="deleteCourseKpoint" parameterType="java.lang.Integer">
        DELETE FROM COURSE_KPOINT WHERE KPOINT_ID=#{courseKpointId}
    </delete>

    <!--批量删除-->
    <delete id="deleteAll" parameterType="java.util.List">
        DELETE FROM COURSE_KPOINT
         WHERE KPOINT_ID IN
         <foreach item="courseKpointId" collection="list" open="(" close=")" separator=",">
                      #{courseKpointId}
         </foreach>
     </delete>

    <!--批量删除查询需要删除的对象ID-->
    <select id="findParentId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT KPOINT_ID FROM COURSE_KPOINT WHERE PARENT_ID = #{catalogId}
    </select>

    <update id="updateCourseKpoint" parameterMap="CourseKpoint">
        UPDATE COURSE_KPOINT
        <trim prefix="set" suffixOverrides=",">
            <if test="courseId!=null">course_id=#{courseId},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="parentId!=null">parent_id=#{parentId},</if>
            <if test="sort!=null">sort=#{sort},</if>
            <if test="videoUrl!=null">video_url=#{videoUrl},</if>
            <if test="teacherId!=null">teacher_id=#{teacherId},</if>
            <if test="kpointTypes!=null">kpoint_types=#{kpointTypes},</if>
            <if test="fileType!=null">file_type=#{fileType},</if>
            <if test="content!=null">content=#{content}</if>
        </trim>
        WHERE kpoint_id=#{kpointId}
    </update>

    <select id="courseKpoints"  parameterType="java.lang.Integer" resultMap="CourseKpointResultMap">
        SELECT
        <include refid="CourseKpoint_Column_List" />
        FROM course_kpoint WHERE kpoint_id=#{kpointId}

    </select>
</mapper>