<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.system.MsgReceiveMapper">

    <resultMap id="MsgReceiveResultMap" type="com.api.model.system.letter.MsgReceive">
        <result column="id" property="id" />
        <result column="cus_id" property="cusId" />
        <result column="content" property="content" />
        <result column="receiving_cus_id" property="receivingCusId" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="group_id" property="groupId" />
        <result column="showname" property="showname" />
    </resultMap>
    <parameterMap id="MsgReceive" type="com.api.model.system.letter.MsgReceive" />

    <sql id="MsgReceive_Column_List">id, cus_id, content, receiving_cus_id,add_time,update_time, type, status, group_id,showname</sql>

    <select id="selectAddMsgReceive" resultMap="MsgReceiveResultMap" parameterMap="MsgReceive">
        SELECT
        <include refid="MsgReceive_Column_List" />
        FROM msg_receive
        WHERE 1=1
        <if test="id != null and id!=''">
            and id=#{id}
        </if>
        <if test="receivingCusId != null and receivingCusId!=''">
            and receiving_cus_id=#{receivingCusId}
        </if>
        <if test="status != null and status!=''">
            and status=#{status}
        </if>
    </select>


    <insert id="insertAllMsgReceive" parameterMap="MsgReceive">
        insert into msg_receive
        (cus_id, content,receiving_Cus_id,add_time,update_time,type,status,group_id,showname)
        values
        (#{cusId}, #{content},#{receivingCusId},now(),#{updateTime},#{type},#{status},#{groupId},#{showname})
    </insert>


    <!--批量删除-->
    <delete id="deleteMsgReceive" parameterType="java.util.List">
        DELETE FROM msg_receive
        WHERE id IN
        <foreach item="examId" collection="list" open="(" close=")" separator=",">
            #{examId}
        </foreach>
    </delete>
</mapper>