<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.user.UserMapper">

    <resultMap id="UserResultMap" type="com.api.model.user.User">
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="add_time" property="addTime" />
        <result column="user_type" property="userType" />
        <result column="status" property="status" />
        <result column="pic_path" property="pic_path" />
    </resultMap>
    <parameterMap id="User" type="com.api.model.user.User" />

    <sql id="User_Column_List">id, user_name, pass_word, email, phone, sex, age, add_time,user_type,status,pic_path</sql>

    <select id="findUserInfo"  parameterMap="User">
        SELECT
        <include refid="User_Column_List" />
        FROM user
    </select>
    <select id="findAll" parameterMap="User">
        SELECT
        <include refid="User_Column_List" />
        FROM user
    </select>
    <select id="getUser" parameterType="java.util.List" resultMap="UserResultMap">
        SELECT
        <include refid="User_Column_List" />
        FROM user WHERE   user_name=#{name}
    </select>

    <insert id="register" parameterMap="User">
    /*  获取插入后的主键id*/
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into USER (user_name, pass_word,add_time,sex,email,phone,nick_name,age,user_type,real_name,status,pic_path)
    values
    (#{userName}, #{passWord},#{addTime},#{sex},#{email},#{phone},#{nickName},#{age},#{userType},#{realName},#{status},#{pic_path})
  </insert>
    <update id="updateUser" parameterMap="User">
    UPDATE user
    <trim prefix="set" suffixOverrides=",">
      <if test="passWord!=null and passWord!=''">pass_word=#{passWord},</if>
      <if test="sex!=null and sex!=''">sex=#{sex},</if>
      <if test="email!=null and email!=''">email=#{email},</if>
      <if test="phone!=null and phone!=''">phone=#{phone},</if>
      <if test="nickName!=null and nickName!=''">nick_name=#{nickName},</if>
      <if test="age!=null">age=#{age},</if>
      <if test="userType!=null">user_type=#{userType},</if>
      <if test="status!=null">status=#{status},</if>
      <if test="realName!=null and realName!=''">real_name=#{realName},</if>
      <if test="pic_path!=null and pic_path!=''">pic_path=#{pic_path},</if>
    </trim>
    WHERE id=#{id};
  </update>
    <select id="selectUser" resultMap="UserResultMap">
        SELECT
        <include refid="User_Column_List" />
        FROM user WHERE  1=1

      <if test="userName != null  and userName!=''">
        AND `user_name` LIKE concat('%',#{userName},'%')
      </if>
      <if test="email != null  and email!=''">
        AND `email`LIKE concat('%', #{email},'%')
      </if>

    order by id desc
  </select>
    <select id="studentList" resultMap="UserResultMap">
        SELECT
        <include refid="User_Column_List" />
        FROM user  WHERE  user_type=0
        <if test="id != null">
            and id=#{id}
        </if>
        <if test="userName != null and userName!=''">
            AND user_name LIKE '%${userName}%'
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        <if test="addTime != null and addTime!=''">
            and add_time &gt;= #{addTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and add_time &lt;= #{endTime}
        </if>
    </select>

  <select id="selectAll" resultMap="UserResultMap" >
    SELECT id
    from user
    <where>
      user_name in
      <foreach item="userName" collection="list" separator="," open="(" close=")" index="">
        #{userName}
      </foreach>
    </where>
  </select>

    <insert id="addStudentBatch"  parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID() as id
        </selectKey>
        insert into USER
        (user_name, pass_word,add_time,sex,email,phone,nick_name,age,user_type,real_name,status)
        values
        <foreach collection="list" item="user" index="index" separator="," >
            (#{user.userName}, #{user.passWord},#{user.addTime},#{user.sex},#{user.email},#{user.phone},#{user.nickName},#{user.age},#{user.userType},#{user.realName},#{user.status})
        </foreach>
    </insert>


</mapper>