<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.user.UserMapper">

    <select id="findUserInfo" resultType="com.api.model.user.User">
    select id, user_name, pass_word, email, phone, qq, sex, age, add_time,user_type from user;
  </select>
    <select id="findAll" resultType="com.api.model.user.User">
    select id, user_name AS userName, pass_word AS passWord, email, phone, nick_name as nickName, sex, age, add_time AS addTime,user_type AS userType from user;
  </select>
    <select id="getUser" resultType="com.api.model.user.User" parameterType="java.lang.String">
        select id, user_name AS userName, pass_word AS passWord, email, phone, nick_name as nickName, sex, age, add_time AS addTime,user_type AS userType from user where user_name=#{name}
    </select>
    <insert id="register" parameterType="com.api.model.user.User">
    /*  获取插入后的主键id*/
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into USER (user_name, pass_word,add_time,sex,email,phone,nick_name,age,user_type,real_name,status)
    values
    (#{userName}, #{passWord},#{addTime},#{sex},#{email},#{phone},#{nickName},#{age},#{userType},#{realName},#{status})
  </insert>
    <update id="updateUser" parameterType="com.api.model.user.User">
    UPDATE user
    <trim prefix="set" suffixOverrides=",">
      <if test="passWord!=null">pass_word=#{passWord},</if>
      <if test="sex!=null">sex=#{sex},</if>
      <if test="email!=null">email=#{email},</if>
      <if test="phone!=null">phone=#{phone},</if>
      <if test="nickName!=null">nick_name=#{nickName},</if>
      <if test="age!=null">age=#{age},</if>
      <if test="userType!=null">user_type=#{userType},</if>
      <if test="status!=null">status=#{status},</if>
      <if test="realName!=null">real_name=#{realName},</if>
      <if test="pic_path!=null">pic_path=#{pic_path},</if>
      <if test="userType!=null">user_type=#{userType}</if>
    </trim>
    WHERE id=#{id};
  </update>
    <select id="selectUser" resultType="com.api.model.user.User">
    SELECT id, user_name AS userName, pass_word AS passWord, email, phone,  nick_name as nickName, sex, age, add_time AS addTime,user_type AS userType,status
    FROM user WHERE  1=1

      <if test="userName != null">
        AND `user_name` LIKE concat('%',#{userName},'%')
      </if>
      <if test="email != null">
        AND `email`LIKE concat('%', #{email},'%')
      </if>

    order by id desc
  </select>
    <select id="studentList" resultType="com.api.model.user.User">
        SELECT id, user_name AS userName, pass_word AS passWord, email, phone,  nick_name as nickName, sex, age, add_time AS addTime,user_type AS userType,status
        FROM user WHERE  user_type=0
        <if test="id != null and id!=''">
            and id=#{id}
        </if>
        <if test="userName != null and userName!=''">
            AND user_name LIKE '%${userName}%'
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        <if test="addTime != null and addTime!=''">
            and add_time &gt;= #{addTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and add_time &lt;= #{endTime}
        </if>
    </select>

  <select id="selectAll" resultType="com.api.model.user.User" >
    SELECT id
    from user
    <where>
      user_name in
      <foreach item="userName" collection="list" separator="," open="(" close=")" index="">
        #{userName}
      </foreach>
    </where>
  </select>

    <insert id="addStudentBatch"  parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID() as id
        </selectKey>
        insert into USER
        (user_name, pass_word,add_time,sex,email,phone,nick_name,age,user_type,real_name,status)
        values
        <foreach collection="list" item="user" index="index" separator="," >
            (#{user.userName}, #{user.passWord},#{user.addTime},#{user.sex},#{user.email},#{user.phone},#{user.nickName},#{user.age},#{user.userType},#{user.realName},#{user.status})
        </foreach>
    </insert>


</mapper>